.breakpoint-0,
.style39 {
  background-color: #f6f8f9
}
.breakpoint-0 {
  margin-right: auto;
  width: 100%;
  margin-left: auto
}
.style39 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100vw;
  height: 3.4722222222222223vw;
  align-items: center
}
.style40,
.style41,
.style42,
.style43,
.style44 {
  font-family: Helvetica,serif;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  align-self: center
}
.style40 {
  color: #fa6980;
  margin-left: 1.3888888888888888vw;
  font-size: .9027777777777778vw
}
.style41,
.style42,
.style43,
.style44 {
  font-size: .7638888888888888vw
}
.style41 {
  color: #343638;
  margin-left: 71.18055555555556vw
}
.style42,
.style43,
.style44 {
  color: rgba(52,54,56,.5);
  margin-left: 1.875vw
}
.style42,
.style43 {
  margin-left: 1.5277777777777777vw
}
.style45 {
  object-fit: cover;
  margin-left: 2.7777777777777777vw;
  width: 2.0833333333333335vw;
  height: 2.0833333333333335vw;
  align-self: center;
  border-radius: 50%
}
.desktop1row1,
.style1 {
  display: flex;
  margin-left: 0
}
.desktop1row1 {
  flex-wrap: wrap;
  width: 100vw
}
.style1 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlkmd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  width: 58.333333333333336vw;
  min-width: 560px;
  height: 41.666666666666664vw;
  flex-direction: column;
  flex-grow: 1
}
.style7 {
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  margin-top: 12.291666666666666vw;
  width: 41.666666666666664vw;
  height: 1.3888888888888888vw
}
.style2,
.style3,
.style7 {
  color: #fff;
  font-family: Helvetica,serif;
  margin-left: 9.722222222222221vw
}
.style3 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  margin-top: 5.555555555555555vw;
  width: 41.666666666666664vw;
  height: 1.6666666666666667vw
}
.style2 {
  font-size: 1.1111111111111112vw;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  width: 38.888888888888886vw;
  height: 2.986111111111111vw
}
.style4,
.style5 {
  background-color: #fa6980;
  display: flex;
  width: 9.305555555555555vw;
  height: 2.7777777777777777vw;
  border-radius: .4166666666666667vw
}
.style4 {
  margin-left: 9.722222222222221vw;
  margin-top: 2.0833333333333335vw
}
.style5 {
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style6 {
  color: #fff;
  text-align: center;
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  font-weight: 700;
  width: 5.138888888888889vw;
  height: .5555555555555556vw
}
.style76 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  width: 41.666666666666664vw;
  min-width: 400px;
  height: 41.666666666666664vw;
  flex-direction: column;
  flex-grow: 1
}
.desktop1row1container22row0 {
  display: flex;
  margin-left: 6.944444444444445vw;
  margin-top: 6.944444444444445vw;
  width: 26.38888888888889vw;
  height: 1.3888888888888888vw;
  align-items: center
}
.style77 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  margin-left: 0;
  width: 22.98611111111111vw;
  height: 1.3888888888888888vw
}
.style80 {
  position: relative;
  display: flex;
  margin-left: -.20833333333333334vw;
  align-self: center;
  flex-direction: column
}
.style80,
.style81 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style78 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  align-self: center;
  flex-direction: column
}
.style78,
.style79 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style83 {
  display: grid;
  margin-left: 6.944444444444445vw;
  margin-top: 5.555555555555555vw;
  width: 29.166666666666668vw;
  grid-gap: 2.7083333333333335vw
}
.style84 {
  display: flex
}
.desktop1row1container22grid1container25col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 29.166666666666668vw;
  height: 8.958333333333334vw;
  flex-direction: column
}
.style85 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-weight: 700;
  margin-top: 0;
  width: 29.166666666666668vw;
  height: .9722222222222222vw
}
.style85,
.style86,
.style87 {
  font-size: 1.1111111111111112vw;
  margin-left: 0
}
.style86 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  margin-top: 1.3888888888888888vw;
  width: 29.166666666666668vw;
  height: 1.1111111111111112vw
}
.style87 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  width: 26.38888888888889vw;
  height: 2.986111111111111vw
}
.desktop1row1container22grid1container25col0row3 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 5.833333333333333vw;
  height: 1.1111111111111112vw
}
.style89 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style89,
.style90 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style88 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  width: 4.027777777777778vw;
  height: .9027777777777778vw
}
.style91 {
  display: flex
}
.desktop1row1container22grid1container27col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 29.166666666666668vw;
  height: 8.958333333333334vw;
  flex-direction: column
}
.style92 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-weight: 700;
  margin-top: 0;
  width: 29.166666666666668vw;
  height: .9722222222222222vw
}
.style92,
.style93,
.style94 {
  font-size: 1.1111111111111112vw;
  margin-left: 0
}
.style93 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  margin-top: 1.3888888888888888vw;
  width: 29.166666666666668vw;
  height: 1.1111111111111112vw
}
.style94 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  width: 26.38888888888889vw;
  height: 2.986111111111111vw
}
.desktop1row1container22grid1container27col0row3 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 5.833333333333333vw;
  height: 1.1111111111111112vw
}
.style96 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style96,
.style97 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style95 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  width: 4.027777777777778vw;
  height: .9027777777777778vw
}
.desktop1row2 {
  display: flex;
  margin-left: 9.722222222222223vw;
  margin-top: 4vh;
  width: 80.55555555555556vw;
  align-items: center
}
.style71 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  margin-left: 0;
  width: 71.18055555555556vw;
  height: 1.3888888888888888vw;
  flex-grow: 1
}
.style74 {
  display: flex;
  margin-left: 5.763888888888889vw;
  align-self: center;
  flex-direction: column;
  flex-grow: 1
}
.style74,
.style75 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style72 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  align-self: center;
  flex-direction: column;
  flex-grow: 1
}
.style72,
.style73 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style46 {
  display: grid;
  margin-left: 9.722222222222223vw;
  margin-top: 4vh;
  width: 80.55555555555556vw;
  grid: none/repeat(auto-fit,minmax(240px,1fr));
  grid-gap: 2.7777777777777777vw
}
.style47 {
  display: flex
}
.desktop1grid0container11col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style48,
.style49 {
  width: 100%;
  height: 12.5vw
}
.style49 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw .4166666666666667vw 0 0
}
.style48 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw;
  border-radius: 0 0 .4166666666666667vw .4166666666666667vw
}
.desktop1grid0container11col0container12col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 3.4722222222222223vw;
  width: 77.77777777777779%;
  height: 6.25vw;
  flex-direction: column
}
.style50,
.style51 {
  margin-left: 0;
  width: 100%
}
.style50 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style51 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 1.5972222222222223vw;
  margin-top: .6944444444444444vw;
  height: 2.638888888888889vw
}
.desktop1grid0container11col0container12col0row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 24.642857142857146%;
  height: 1.1111111111111112vw
}
.style53,
.style54 {
  height: 1.1111111111111112vw
}
.style53 {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  width: 23.18840579710145%
}
.style54 {
  width: 100%
}
.style52 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style55 {
  display: flex
}
.desktop1grid0container14col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style56,
.style57 {
  width: 100%;
  height: 12.5vw
}
.style57 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw .4166666666666667vw 0 0
}
.style56 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw;
  border-radius: 0 0 .4166666666666667vw .4166666666666667vw
}
.desktop1grid0container14col0container15col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 3.4722222222222223vw;
  width: 77.77777777777779%;
  height: 6.25vw;
  flex-direction: column
}
.style58,
.style59 {
  margin-left: 0;
  width: 100%
}
.style58 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style59 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 1.5972222222222223vw;
  margin-top: .6944444444444444vw;
  height: 2.638888888888889vw
}
.desktop1grid0container14col0container15col0row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 23.57142857142857%;
  height: 1.1111111111111112vw
}
.style61,
.style62 {
  height: 1.1111111111111112vw
}
.style61 {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  width: 24.242424242424242%
}
.style62 {
  width: 100%
}
.style60 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style63 {
  display: flex
}
.desktop1grid0container17col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style64,
.style65 {
  width: 100%;
  height: 12.5vw
}
.style65 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw .4166666666666667vw 0 0
}
.style64 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw;
  border-radius: 0 0 .4166666666666667vw .4166666666666667vw
}
.desktop1grid0container17col0container18col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 3.4722222222222223vw;
  width: 77.77777777777779%;
  height: 6.25vw;
  flex-direction: column
}
.style66,
.style67 {
  margin-left: 0;
  width: 100%
}
.style66 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style67 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 1.5972222222222223vw;
  margin-top: .6944444444444444vw;
  height: 2.638888888888889vw
}
.desktop1grid0container17col0container18col0row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 23.57142857142857%;
  height: 1.1111111111111112vw
}
.style69,
.style70 {
  height: 1.1111111111111112vw
}
.style69 {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  width: 24.242424242424242%
}
.style70 {
  width: 100%
}
.style68 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.desktop1row4 {
  display: flex;
  margin-left: 9.722222222222223vw;
  margin-top: 4vh;
  width: 80.55555555555556vw;
  align-items: center
}
.style9 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  margin-left: 0;
  width: 53.47222222222222vw;
  height: 1.3888888888888888vw;
  flex-grow: 1
}
.style100 {
  display: flex;
  margin-left: 23.47222222222222vw;
  align-self: center;
  flex-direction: column;
  flex-grow: 1
}
.style100,
.style101 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style98 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  align-self: center;
  flex-direction: column;
  flex-grow: 1
}
.style98,
.style99 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.desktop1row5 {
  display: flex;
  margin-left: 9.722222222222223vw;
  margin-top: 4vh;
  width: 80.55555555555556vw;
  flex-wrap: wrap
}
.style121 {
  display: grid;
  margin-left: 0;
  width: 52.77777777777778vw;
  grid-gap: 2.7777777777777777vw
}
.style122 {
  display: flex;
  flex-direction: column
}
.style123 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlqqn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  display: flex;
  width: 52.77777777777778vw;
  height: 29.86111111111111vw;
  border-radius: .4166666666666667vw
}
.desktop1row5grid3container37image29col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 2.7777777777777777vw;
  width: 47.916666666666664vw;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style124,
.style125,
.style129 {
  color: #fff;
  font-family: Helvetica,serif;
  margin-left: 0
}
.style129 {
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 0;
  height: 1.1111111111111112vw;
  width: 47.916666666666664vw
}
.style124,
.style125 {
  width: 47.22222222222222vw
}
.style125 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  margin-top: 16.11111111111111vw;
  height: 1.6666666666666667vw
}
.style124 {
  font-size: 1.1111111111111112vw;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  height: 2.9166666666666665vw;
  text-overflow: clip;
  overflow: hidden
}
.desktop1row5grid3container37image29col0row3 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 4.652777777777778vw;
  height: 1.1111111111111112vw
}
.style127 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style127,
.style128 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style126 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .5555555555555556vw
}
.style130 {
  display: flex;
  flex-direction: column
}
.style131 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlr5w.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  display: flex;
  width: 52.77777777777778vw;
  height: 29.86111111111111vw;
  border-radius: .4166666666666667vw
}
.desktop1row5grid3container39image31col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 2.7777777777777777vw;
  width: 47.916666666666664vw;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style132,
.style133,
.style137 {
  color: #fff;
  font-family: Helvetica,serif;
  margin-left: 0
}
.style137 {
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 0;
  height: 1.1111111111111112vw;
  width: 47.916666666666664vw
}
.style132,
.style133 {
  width: 47.22222222222222vw
}
.style133 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  margin-top: 16.11111111111111vw;
  height: 1.6666666666666667vw
}
.style132 {
  font-size: 1.1111111111111112vw;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  height: 2.9166666666666665vw;
  text-overflow: clip;
  overflow: hidden
}
.desktop1row5grid3container39image31col0row3 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 4.652777777777778vw;
  height: 1.1111111111111112vw
}
.style135 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style135,
.style136 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style134 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .5555555555555556vw
}
.style102 {
  display: grid;
  margin-left: 2.7777777777777777vw;
  width: 25vw;
  grid-gap: 2.7777777777777777vw
}
.style103 {
  display: flex;
  flex-direction: column
}
.style104,
.style105 {
  margin-left: 0;
  width: 25vw
}
.style105 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw;
  height: 14.583333333333334vw
}
.style104 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 1.3888888888888888vw;
  height: 1.1111111111111112vw
}
.desktop1row5grid2container31row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 10.48611111111111vw;
  height: 1.1111111111111112vw
}
.style107 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style107,
.style108 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style106 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style109 {
  display: flex;
  flex-direction: column
}
.style110,
.style111 {
  margin-left: 0;
  width: 25vw
}
.style111 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw;
  height: 14.583333333333334vw
}
.style110 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 1.3888888888888888vw;
  height: 1.1111111111111112vw
}
.desktop1row5grid2container33row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 8.055555555555555vw;
  height: 1.1111111111111112vw
}
.style113 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style113,
.style114 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style112 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style115 {
  display: flex;
  flex-direction: column
}
.style116,
.style117 {
  margin-left: 0;
  width: 25vw
}
.style117 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw;
  height: 14.583333333333334vw
}
.style116 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 1.3888888888888888vw;
  height: 1.1111111111111112vw
}
.desktop1row5grid2container35row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 8.958333333333334vw;
  height: 1.1111111111111112vw
}
.style119 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style119,
.style120 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style118 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style10 {
  background-color: #a6adb4;
  display: flex;
  margin-left: 0;
  margin-top: 10vh;
  width: 100vw;
  height: 13.88888888888889vw
}
.style23 {
  color: #fff;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  margin-left: 9.722222222222221vw;
  margin-top: 4.027777777777778vw
}
.desktop1container1col1 {
  display: flex;
  margin-left: 4.375vw;
  margin-top: 3.888888888888889vw;
  width: 4.305555555555555vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style11,
.style14,
.style17,
.style20 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop1container1col2 {
  display: flex;
  margin-left: 2.638888888888889vw;
  margin-top: 3.888888888888889vw;
  width: 4.097222222222222vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style12,
.style15,
.style18,
.style21 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop1container1col3 {
  display: flex;
  margin-left: 2.8472222222222223vw;
  margin-top: 3.888888888888889vw;
  width: 5.486111111111111vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style13,
.style16,
.style19,
.style22 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop1container1col4,
.style24 {
  display: flex;
  width: 18.055555555555557vw
}
.desktop1container1col4 {
  margin-left: 15.347222222222221vw;
  margin-top: 4.027777777777778vw;
  flex-direction: column;
  height: 4.583333333333333vw
}
.style24 {
  border-left: .1388888888888889vw solid #fff;
  border-right: .1388888888888889vw solid #fff;
  border-top: .1388888888888889vw solid #fff;
  border-bottom: .1388888888888889vw solid #fff;
  margin-top: 0;
  height: 2.7777777777777777vw;
  align-items: center;
  border-radius: .4166666666666667vw
}
.style27 {
  color: rgba(203,208,211,.5);
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.3888888888888888vw;
  width: 2.4305555555555554vw;
  height: .6944444444444444vw;
  align-self: center
}
.style25 {
  display: flex;
  margin-left: 11.73611111111111vw;
  align-self: center;
  flex-direction: column
}
.style25,
.style26 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style28 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  margin-top: 1.1111111111111112vw;
  width: 18.055555555555557vw;
  height: .6944444444444444vw
}
.style35 {
  display: flex;
  margin-left: 9.722222222222221vw;
  margin-top: 3.888888888888889vw;
  flex-direction: column
}
.style35,
.style36 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style32 {
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889vw;
  flex-direction: column
}
.style32,
.style33 {
  display: flex;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style29,
.style34 {
  width: 1.1111111111111112vw;
  height: .9012179904513888vw
}
.style29 {
  display: flex;
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889vw;
  height: 1.1111789279513888vw;
  flex-direction: column
}
.style30,
.style31 {
  position: relative;
  height: 1.1111111111111112vw
}
.style30 {
  display: flex;
  justify-content: center;
  width: 1.1111111111111112vw
}
.style31 {
  width: .5802408854166666vw;
  flex-shrink: 0
}
.style37 {
  display: flex;
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889vw;
  flex-direction: column
}
.style37,
.style38 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.breakpoint-1 {
  display: none
}
.breakpoint-0 {
  display: block
}
@media (max-width:375px) {
  .breakpoint-1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #f6f8f9
  }
  .mobile1container27col0,
  .style232 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 100vw
  }
  .style232 {
    background-color: #f6f8f9;
    height: 23.466666666666665vw
  }
  .mobile1container27col0 {
    height: 20.622200520833335vw;
    flex-direction: column
  }
  .style233,
  .style234 {
    display: flex;
    width: 100vw;
    height: 11.733333333333333vw
  }
  .style233 {
    margin-left: 0;
    margin-top: 0
  }
  .style234 {
    background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlxc4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    flex-direction: column;
    justify-content: center
  }
  .mobile1container27col0container28image26row0 {
    display: flex;
    margin-left: 5.6vw;
    margin-top: 3.466666666666667vw;
    width: 90.4875vw;
    height: 4.8vw;
    align-items: center
  }
  .style240 {
    display: flex;
    margin-left: 0;
    width: 14.4vw;
    height: 4.8vw;
    flex-direction: column
  }
  .style241,
  .style242 {
    position: relative;
    width: 14.4vw;
    height: 4.266666666666667vw
  }
  .style241 {
    background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlyil.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex
  }
  .style242 {
    color: #343638;
    text-align: center;
    font-family: Helvetica,serif;
    font-size: 3.7333333333333334vw;
    flex-shrink: 0
  }
  .style239 {
    margin-left: 58.3111328125vw;
    width: 4.533333333333333vw;
    height: 2.8444010416666665vw;
    align-self: center
  }
  .style235,
  .style238 {
    margin-left: 1.3404947916666667vw;
    width: 4.07265625vw;
    height: 2.9241536458333335vw;
    align-self: center
  }
  .style235 {
    background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlxkg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-left: .26666666666666666vw solid #343638;
    border-right: .26666666666666666vw solid #343638;
    border-top: .26666666666666666vw solid #343638;
    border-bottom: .26666666666666666vw solid #343638;
    display: flex;
    margin-left: 1.3423828125vw;
    width: 5.866666666666666vw;
    height: 3.022265625vw;
    flex-direction: column
  }
  .style237 {
    width: 4.8vw;
    height: 1.9555989583333333vw
  }
  .style236 {
    margin-left: .26666666666666666vw;
    width: .3541666666666667vw;
    height: 1.0666666666666667vw;
    align-self: center
  }
  .mobile1container27col0row1 {
    display: flex;
    margin-left: 4.266536458333333vw;
    margin-top: 2.4888671875vw;
    width: 91.466796875vw;
    height: 6.4vw;
    align-items: center;
    justify-content: space-between
  }
  .style246 {
    position: relative;
    display: flex;
    width: 4.266666666666667vw;
    height: 3.73359375vw;
    flex-direction: column
  }
  .style247,
  .style248,
  .style249 {
    background-color: #343638;
    height: .5333333333333333vw;
    flex-shrink: 0;
    border-radius: .26666666666666666vw
  }
  .style247 {
    position: relative;
    margin-top: 0;
    width: 4.266666666666667vw
  }
  .style248,
  .style249 {
    margin-top: 1.0666666666666667vw;
    width: 2.6666666666666665vw
  }
  .style249 {
    position: relative;
    width: 4.266666666666667vw
  }
  .style243 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    font-weight: 700;
    line-height: 5.333333333333333vw
  }
  .style244,
  .style245 {
    width: 4.266666666666667vw
  }
  .style244 {
    background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlys1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6.4vw
  }
  .style245 {
    background-color: #fff;
    height: 4.266666666666667vw;
    border-radius: 50%
  }
  .style139,
  .style140 {
    display: flex;
    width: 100vw;
    height: 103.46666666666667vw
  }
  .style139 {
    background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlrl3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    margin-left: 0
  }
  .style140 {
    background-color: rgba(0,0,0,.2);
    flex-direction: column
  }
  .style146 {
    font-size: 6.4vw;
    font-weight: 700;
    margin-top: 10.666666666666666vw;
    height: 5.333333333333333vw
  }
  .style141,
  .style142,
  .style146 {
    color: #fff;
    font-family: Helvetica,serif;
    margin-left: 6.4vw;
    width: 87.2vw
  }
  .style142 {
    font-weight: 700;
    text-overflow: clip;
    overflow: hidden;
    font-size: 6.4vw;
    line-height: 9.066666666666666vw;
    margin-top: 21.333333333333332vw;
    height: 15.466666666666667vw
  }
  .style141 {
    font-size: 4.266666666666667vw;
    line-height: 6.933333333333334vw;
    margin-top: 5.333333333333333vw;
    height: 18.666666666666668vw
  }
  .style143,
  .style144 {
    background-color: #fa6980;
    display: flex;
    width: 40.266666666666666vw;
    height: 10.666666666666666vw;
    border-radius: 1.6vw
  }
  .style143 {
    margin-left: 6.4vw;
    margin-top: 5.333333333333333vw
  }
  .style144 {
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style145 {
    color: #fff;
    text-align: center;
    font-family: Helvetica,serif;
    font-size: 2.933333333333333vw;
    font-weight: 700;
    line-height: 5.333333333333333vw
  }
  .style210 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    width: 100vw;
    height: 127.46666666666667vw
  }
  .mobile1container20col0 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 10.666666666666666vw;
    width: 87.2vw;
    height: 106.13333333333334vw;
    flex-direction: column
  }
  .mobile1container20col0row0,
  .style211 {
    margin-left: 0;
    height: 5.333333333333333vw
  }
  .mobile1container20col0row0 {
    display: flex;
    margin-top: 0;
    align-items: center;
    width: 87.2vw
  }
  .style211 {
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 6.4vw;
    font-weight: 700;
    width: 40.266666666666666vw
  }
  .style214 {
    display: flex;
    margin-left: 35.2vw;
    align-self: center;
    flex-direction: column
  }
  .style214,
  .style215 {
    width: 1.6vw;
    height: 2.6666666666666665vw
  }
  .style212 {
    display: flex;
    margin-left: 8.533333333333333vw;
    align-self: center;
    flex-direction: column
  }
  .style212,
  .style213 {
    width: 1.6vw;
    height: 2.6666666666666665vw
  }
  .style217 {
    display: grid;
    margin-left: 0;
    margin-top: 21.333333333333332vw;
    width: 87.2vw;
    grid-gap: 10.666666666666666vw
  }
  .style218 {
    display: flex
  }
  .mobile1container20col0grid3container23col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 34.13333333333333vw;
    flex-direction: column
  }
  .style219 {
    color: #fa6980;
    font-family: Helvetica,serif;
    font-weight: 700;
    margin-top: 0;
    height: 3.7333333333333334vw
  }
  .style219,
  .style220,
  .style221 {
    font-size: 4.266666666666667vw;
    margin-left: 0;
    width: 87.2vw
  }
  .style220 {
    font-weight: 700;
    color: #202124;
    font-family: Helvetica,serif;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .style221 {
    color: #a6adb4;
    font-family: 'Acumin Pro',serif;
    line-height: 6.933333333333334vw;
    margin-top: 2.6666666666666665vw;
    height: 11.2vw
  }
  .mobile1container20col0grid3container23col0row3 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 18.4vw;
    height: 4.266666666666667vw
  }
  .style223 {
    display: flex;
    margin-left: 0;
    flex-direction: column
  }
  .style223,
  .style224 {
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style222 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style225 {
    display: flex
  }
  .mobile1container20col0grid3container25col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 34.13333333333333vw;
    flex-direction: column
  }
  .style226 {
    color: #fa6980;
    font-family: Helvetica,serif;
    font-weight: 700;
    margin-top: 0;
    height: 3.7333333333333334vw
  }
  .style226,
  .style227,
  .style228 {
    font-size: 4.266666666666667vw;
    margin-left: 0;
    width: 87.2vw
  }
  .style227 {
    font-weight: 700;
    color: #202124;
    font-family: Helvetica,serif;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .style228 {
    color: #a6adb4;
    font-family: 'Acumin Pro',serif;
    line-height: 6.933333333333334vw;
    margin-top: 2.6666666666666665vw;
    height: 11.2vw
  }
  .mobile1container20col0grid3container25col0row3 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 17.6vw;
    height: 4.266666666666667vw
  }
  .style230 {
    display: flex;
    margin-left: 0;
    flex-direction: column
  }
  .style230,
  .style231 {
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style229 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .mobile1row3 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 4.926108374384237vh;
    width: 87.2vw;
    align-items: center
  }
  .style165 {
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 6.4vw;
    font-weight: 700;
    margin-left: 0;
    width: 33.6vw;
    height: 5.333333333333333vw;
    flex-grow: 1
  }
  .style168 {
    display: flex;
    margin-left: 41.86666666666667vw;
    align-self: center;
    flex-direction: column;
    flex-grow: 1
  }
  .style168,
  .style169 {
    width: 1.6vw;
    height: 2.6666666666666665vw
  }
  .style166 {
    display: flex;
    margin-left: 8.533333333333333vw;
    align-self: center;
    flex-direction: column;
    flex-grow: 1
  }
  .style166,
  .style167 {
    width: 1.6vw;
    height: 2.6666666666666665vw
  }
  .style148 {
    display: grid;
    margin-left: 6.4vw;
    margin-top: 4.926108374384237vh;
    width: 87.2vw;
    grid-gap: 10.666666666666666vw
  }
  .style149 {
    display: flex
  }
  .mobile1grid0container2col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 82.13333333333334vw;
    flex-direction: column
  }
  .style150,
  .style151 {
    margin-top: 0;
    width: 87.2vw;
    height: 41.06666666666667vw
  }
  .style151 {
    object-fit: cover;
    border-radius: 1.6vw 1.6vw 0 0
  }
  .style150 {
    background-color: #fff;
    display: flex;
    border-radius: 0 0 1.6vw 1.6vw
  }
  .mobile1grid0container2col0container3col0 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 8.533333333333333vw;
    width: 74.4vw;
    height: 24vw;
    flex-direction: column
  }
  .style152,
  .style153 {
    margin-left: 0;
    width: 74.4vw
  }
  .style152 {
    font-weight: 700;
    margin-top: 0;
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style153 {
    color: #a6adb4;
    font-family: 'Acumin Pro',serif;
    font-size: 3.466666666666667vw;
    line-height: 6.133333333333334vw;
    margin-top: 2.6666666666666665vw;
    height: 10.133333333333333vw
  }
  .mobile1grid0container2col0container3col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 18.4vw;
    height: 4.266666666666667vw
  }
  .style155 {
    display: flex;
    margin-left: 0;
    flex-direction: column
  }
  .style155,
  .style156 {
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style154 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style157 {
    display: flex
  }
  .mobile1grid0container5col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 82.13333333333334vw;
    flex-direction: column
  }
  .style158,
  .style159 {
    margin-top: 0;
    width: 87.2vw;
    height: 41.06666666666667vw
  }
  .style159 {
    object-fit: cover;
    border-radius: 1.6vw 1.6vw 0 0
  }
  .style158 {
    background-color: #fff;
    display: flex;
    border-radius: 0 0 1.6vw 1.6vw
  }
  .mobile1grid0container5col0container6col0 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 8.533333333333333vw;
    width: 74.4vw;
    height: 24vw;
    flex-direction: column
  }
  .style160,
  .style161 {
    margin-left: 0;
    width: 74.4vw
  }
  .style160 {
    font-weight: 700;
    margin-top: 0;
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style161 {
    color: #a6adb4;
    font-family: 'Acumin Pro',serif;
    font-size: 3.466666666666667vw;
    line-height: 6.133333333333334vw;
    margin-top: 2.6666666666666665vw;
    height: 10.133333333333333vw
  }
  .mobile1grid0container5col0container6col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 17.6vw;
    height: 4.266666666666667vw
  }
  .style163 {
    display: flex;
    margin-left: 0;
    flex-direction: column
  }
  .style163,
  .style164 {
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style162 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .mobile1row5 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 4.926108374384237vh;
    width: 87.2vw;
    align-items: center
  }
  .style170 {
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 6.4vw;
    font-weight: 700;
    margin-left: 0;
    width: 55.733333333333334vw;
    height: 5.333333333333333vw;
    flex-grow: 1
  }
  .style173 {
    display: flex;
    margin-left: 19.733333333333334vw;
    align-self: center;
    flex-direction: column;
    flex-grow: 1
  }
  .style173,
  .style174 {
    width: 1.6vw;
    height: 2.6666666666666665vw
  }
  .style171 {
    display: flex;
    margin-left: 8.533333333333333vw;
    align-self: center;
    flex-direction: column;
    flex-grow: 1
  }
  .style171,
  .style172 {
    width: 1.6vw;
    height: 2.6666666666666665vw
  }
  .style175 {
    position: relative;
    display: grid;
    margin-left: 6.4vw;
    margin-top: 4.926108374384237vh;
    width: 87.2vw;
    grid-gap: 10.666666666666666vw
  }
  .style176 {
    position: relative;
    display: flex;
    flex-shrink: 0
  }
  .style177 {
    background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rltn5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 80vw;
    flex-direction: column;
    border-radius: 1.6vw
  }
  .style179,
  .style182 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-left: 6.4vw;
    margin-top: 8.533333333333333vw;
    width: 85.3211009174312%;
    height: 4.266666666666667vw
  }
  .style179 {
    font-size: 6.4vw;
    line-height: 9.066666666666666vw;
    margin-top: 14.933333333333334vw;
    height: 15.466666666666667vw;
    text-overflow: clip;
    overflow: hidden
  }
  .mobile1grid1container12image10row3,
  .style178 {
    margin-left: 6.4vw;
    margin-top: 2.6666666666666665vw
  }
  .style178 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    line-height: 6.933333333333334vw;
    text-overflow: clip;
    overflow: hidden;
    width: 85.3211009174312%;
    height: 18.666666666666668vw
  }
  .mobile1grid1container12image10row3 {
    display: flex;
    width: 21.100917431192663%;
    height: 4.266666666666667vw
  }
  .style181 {
    margin-left: 0;
    width: 23.18840579710145%;
    height: 4.266666666666667vw
  }
  .style180 {
    color: #cbd0d3;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style183 {
    display: flex;
    flex-shrink: 0
  }
  .style184 {
    background-image: url(https://designresources.assets.yotako.io/e7upyk12mgkb6rlu5z.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 80vw;
    flex-direction: column;
    border-radius: 1.6vw
  }
  .style186,
  .style189 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-left: 6.4vw;
    margin-top: 8.533333333333333vw;
    width: 85.3211009174312%;
    height: 4.266666666666667vw
  }
  .style186 {
    font-size: 6.4vw;
    line-height: 9.066666666666666vw;
    margin-top: 14.933333333333334vw;
    height: 15.466666666666667vw;
    text-overflow: clip;
    overflow: hidden
  }
  .mobile1grid1container13image12row3,
  .style185 {
    margin-left: 6.4vw;
    margin-top: 2.6666666666666665vw
  }
  .style185 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    line-height: 6.933333333333334vw;
    text-overflow: clip;
    overflow: hidden;
    width: 85.3211009174312%;
    height: 18.666666666666668vw
  }
  .mobile1grid1container13image12row3 {
    display: flex;
    width: 20.18348623853211%;
    height: 4.266666666666667vw
  }
  .style188 {
    margin-left: 0;
    width: 24.242424242424242%;
    height: 4.266666666666667vw
  }
  .style187 {
    color: #cbd0d3;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style190 {
    display: grid;
    margin-left: 6.4vw;
    margin-top: 9.852216748768473vh;
    width: 87.2vw;
    grid-gap: 10.666666666666666vw
  }
  .style191 {
    display: flex
  }
  .mobile1grid2container14col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 64.53333333333333vw;
    flex-direction: column
  }
  .style192,
  .style193 {
    margin-left: 0;
    width: 87.2vw
  }
  .style192 {
    object-fit: cover;
    margin-top: 0;
    border-radius: 1.6vw;
    height: 48vw
  }
  .style193 {
    color: #202124;
    font-family: 'Acumin Pro',serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .mobile1grid2container14col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 40.266666666666666vw;
    height: 4.266666666666667vw
  }
  .style195 {
    display: flex;
    margin-left: 0;
    flex-direction: column
  }
  .style195,
  .style196 {
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style194 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style197 {
    display: flex
  }
  .mobile1grid2container16col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 64.53333333333333vw;
    flex-direction: column
  }
  .style198,
  .style199 {
    margin-left: 0;
    width: 87.2vw
  }
  .style198 {
    object-fit: cover;
    margin-top: 0;
    border-radius: 1.6vw;
    height: 48vw
  }
  .style199 {
    color: #202124;
    font-family: 'Acumin Pro',serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .mobile1grid2container16col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 30.933333333333334vw;
    height: 4.266666666666667vw
  }
  .style201 {
    display: flex;
    margin-left: 0;
    flex-direction: column
  }
  .style201,
  .style202 {
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style200 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style203 {
    display: flex
  }
  .mobile1grid2container18col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 64.53333333333333vw;
    flex-direction: column
  }
  .style204,
  .style205 {
    margin-left: 0;
    width: 87.2vw
  }
  .style204 {
    object-fit: cover;
    margin-top: 0;
    border-radius: 1.6vw;
    height: 48vw
  }
  .style205 {
    color: #202124;
    font-family: 'Acumin Pro',serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .mobile1grid2container18col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 34.4vw;
    height: 4.266666666666667vw
  }
  .style207 {
    display: flex;
    margin-left: 0;
    flex-direction: column
  }
  .style207,
  .style208 {
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style206 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .breakpoint-0 {
    display: none
  }
  .breakpoint-1 {
    display: block
  }
}